.app-page-wrapper
  position relative
  height 100%
  // overflow hidden
  // margin-right 24px
  padding-bottom 40px

  .app-page-body
    position relative
    // margin 0 24px
    margin-top 16px
    height 100%
    box-shadow inset 0px 0px 24px 0px #0E5B87
    border-radius 4px
    // padding 10px 0

  .app-page-content
    padding 24px
    // padding-right 24px
    width 100%
    height 100%
    overflow auto
    min-width 930px

  .app-page-footer
    position absolute
    display flex
    justify-content center
    align-items center
    left 24px
    right 24px
    bottom 40px
    background-color transparent
    z-index 101

    // & +.app-page-body
    // padding-bottom 64px
    .app-page-footer-inner
      position relative
      width 164px
      height 48px
      cursor pointer
      background url('https://aiot-web-static.oss-cn-hangzhou.aliyuncs.com/aiot-factory-web/%E6%96%87%E5%AD%97button%E8%83%8C%E6%99%AF%402x.png') no-repeat // aiot-web-static.oss-cn-hangzhou.aliyuncs.com/aiot-factory-web/%E6%96%87%E5%AD%97button%E8%83%8C%E6%99%AF%402x.png') no-repeat
      background-size cover
      display flex
      align-items center
      justify-content space-around
      padding: 0 36px

      .action-item
        color #AFB1B1

      .cancel-active
        color #14A9FF

      .submit-item
        color #14A9FF
