.z-datapicker-pop
  .ant-picker-panel
    border-bottom 0 solid #000 !important

  .ant-picker-header, .ant-picker-footer
    border-color #323E42

  .ant-picker-header-view
    color #EBECEC

  .ant-picker-cell-in-view
    color #EBECEC

  .ant-picker-cell-disabled
    color #535657

  .ant-picker-cell-inner
    background-color #182529 !important

  .ant-picker-cell-inner:hover
    background-color rgba(255, 255, 255, 0.3) !important

  // .ant-picker-cell-in-view
  // .ant-picker-cell-inner
  // color #EBECEC
  .ant-picker-cell-selected
    .ant-picker-cell-inner
      background-color #14A9FF !important

      &:hover
        background-color #14A9FF !important

.z-rangedatapicker-pop
  .ant-picker-panel
    border-bottom 0 solid #000 !important

  .ant-picker-header, .ant-picker-footer
    border-color #323E42

  .ant-picker-header-view
    color #EBECEC

  .ant-picker-cell-disabled
    color #535657

  .ant-picker-cell
    color #EBECEC
    vertical-align middle