.btn-wrapper
  .primary-btn
    background linear-gradient(153deg, #66E0FF 0%, #14A9FF 100%)

    .ant-btn:hover
      background linear-gradient(153deg, #66E0FF 0%, #14A9FF 100%) !important

  .search-btn
    box-shadow inset 0px 0px 12px 0px #14A9FF
    border-width 0
    color #14A9FF

    .ant-btn:hover
      color #14A9FF !important