.z-phone-wrapper
  display inline-flex
  align-items center

  .icon-view
    margin-left 12px
    width 16px
    height 16px
    background-size cover
    background-repeat no-repeat
    background-position center
    cursor pointer

    &.mask
      background-image url('https://oss-static.eaiot.cloud/aiot-web/2022-05-18-see@2x-38556c.png')

    &.visible
      background-image url('https://oss-static.eaiot.cloud/aiot-web/2022-05-18-icox@2x-37c75e.png')
