.z-popconfirm-info
  position relative
  min-width 250px
  display flex

  .info-header
    position absolute
    display flex
    align-items center
    top 0
    left 0
    color #EBECEC
    font-size 14px
    font-weight 500

    img
      margin-right 8px
      width 16px
      height 16px

  .info-content
    margin-top 25px
