.ant-radio
  .ant-radio-inner
    border-color #C0C4CC

  &.ant-radio-checked
    .ant-radio-inner
      border-color #14A9FF
      background #14A9FF

      &::after
        margin-top -6px
        margin-left -6px
        width 12px
        height 12px
        background #090E0F
