.z-pagination-item-link
  display inline-flex
  justify-content center
  align-items center
  width 32px
  height 32px
  border 1px solid #323E42
  color #797C7D
  background #090E0F
  border-radius 4px

  .link-icon
    width 12px
    height 12px
    background-repeat no-repeat
    background-position center
    background-size cover

  .link-prev-icon
    background-image url('https://aiot-web-static.oss-cn-hangzhou.aliyuncs.com/aiot-factory-web/solidtriangle12_left%402x.png')

  .link-next-icon
    background-image url('https://aiot-web-static.oss-cn-hangzhou.aliyuncs.com/aiot-factory-web/solidtriangle12_right%402x.png')

  &:hover
    .link-prev-icon
      background-image url('https://aiot-web-static.oss-cn-hangzhou.aliyuncs.com/aiot-factory-web/solidtriangle12_left%402x.png')

    .link-next-icon
      background-image url('https://aiot-web-static.oss-cn-hangzhou.aliyuncs.com/aiot-factory-web/solidtriangle12_right%402x.png')
